.DS_Store
.ipynb_checkpoints/
notebooks/.DS_Store
notebooks/.ipynb_checkpoints/
notebooks/_build/
ext/sphinx-exercise
ext/__pycache__
ext/sphinx-assessment/sphinx_assessment/__pycache__
ext/sphinx-assessment/sphinx_assessment/node_modules/
ext/sphinx-assessment/sphinx_assessment/package-lock.json
elm-stuff/*
.obsidian
_build/*
